<p>So you want to run <%= @distance %>km in <%= @hours%> hours, <%= @minutes %> minutes and <%= @seconds %> seconds eh?</p>

<h2>Then set your treadmill to <%= @pace_hour %>km/h to hit it - good luck!</h2>
<p>That's an average pace of <%= @pace_km_min %>:<%= @pace_km_sec.to_i%> per km</p>
<% if @incline > 0 %>
	<p>At an incline of <%= @incline %>% - you will also run up an elevation of <%= @elevation.to_i %> metres! </p>
<% end %>

<%= link_to 'Back', :back %>
<br>
<br>
<%= render 'results_pace_form' %>