<p>So you want to run <%= @distance %>km in <%= @hours%> hours, <%= @minutes %> minutes, and <%= @seconds %> seconds eh?</p>
<h2>Then set your treadmill to <%= @pace %>km/h to hit it - good luck!</h2>
